@page "{handler?}"
@model BettingApp.WebApps.WebRazorPages.Pages.Dashboard.Wallet.IndexModel

@section UserBar{

    <partial name="_UserBar" />
}

@section Scripts{
    
}

<div class="dashboard-side-menu-section">
    <partial name="_DashboardSideMenu" />
</div>

<div class="wallet-section">

    <label class="wallet-details-label">Wallet Details</label>
    <div class="wallet-details">
        @if (Model.Wallet != null)
        {
            <label>Balance:</label>
            <input type="text" value="@Model.Wallet.Balance €" readonly />

            <label>Total Wagered Amount:</label>
            <input type="text" value="@Model.Wallet.TotalWageredAmount €" readonly />

            <label>Total Winnings:</label>
            <input type="text" value="@Model.Wallet.TotalWinningsAmount €" readonly />

            <label>Total Top Up Amount:</label>
            <input type="text" value="@Model.Wallet.TotalTopUpAmount €" readonly />

            <label>Total Withdraw Amount:</label>
            <input type="text" value="@Model.Wallet.TotalWithdrawAmount €" readonly />

            <form method="get" asp-page="/Dashboard/Wallet/TopUp">
                <input name="ReturnPage" value="@Model.PageNumber" hidden/>
                <button type="submit" class="btn-primary">Top Up</button>
            </form>

            <form method="get" asp-page="/Dashboard/Wallet/Withdraw">
                <input name="ReturnPage" value="@Model.PageNumber" hidden />
                <button type="submit" class="btn-primary">Withdraw</button>
            </form>
        }
        else
        {
            <div class="centered-content-container">
                <div class="centered-content-item">
                    An error occured while loading your wallet
                </div>
            </div>
        }
    </div>

    <label class="wallet-transactions-label">Wallet Transactions</label>
    <div class="wallet-transactions">
        @if (Model.Wallet != null)
        {
            if (Model.Transactions != null && Model.Transactions.Any())
            {
                <table>
                    @foreach (var transaction in Model.Transactions)
                    {
                        <tr>
                            <td>
                                <partial name="_WalletTransactionPartial" model="@transaction" />
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <div class="centered-content-container">
                    <div class="centered-content-item">
                        Empty
                    </div>
                </div>
            }
        }

    </div>

    <div class="wallet-transactions-page-bar">
        <div class="wallet-transactions-page-bar-prev-page">
            @if (Model.PageNumber > 1)
            {
                <a asp-page="/Dashboard/Wallet/Index" asp-route-PageNumber="@(Model.PageNumber - 1)">Prev</a>
            }
        </div>

        <div class="wallet-transactions-page-bar-current-page">
            Page: @Model.PageNumber
        </div>

        <div class="wallet-transactions-page-bar-next-page">
            @if (Model.PageNumber < Model.TotalPages)
            {
                <a asp-page="/Dashboard/Wallet/Index" asp-route-PageNumber="@(Model.PageNumber + 1)">Next</a>
            }
        </div>
    </div>
</div>